<div class="container">
  <div class="title">{{title}}</div>
  <section class="clock-container">
    <article class="analog-clock">
      <div class="hours" [ngStyle]="hourHandStyle"></div>
      <div class="minutes" [ngStyle]="minuteHandStyle"></div>
      <div class="seconds-container">
        <div class="seconds" [ngStyle]="secondHandStyle"></div>
      </div>
    </article>
    <article class="digital-clock" id="timer">
    </article>
  </section>
  <section class="input-container">
    <input type="time" id="customTime" name="customTime" step=1 value="">
  </section>

</div>
